<section id="about">
    <div class="row">
        <div class="columns">
            <h1>Over mij</h1>
        </div>
    </div>

    <article>
        <div class="row">
            <div class="medium-3 columns right">
                <img src="../../images/Holypriest.jpg"
                     class="side-image"
                     alt="Mijn WoW Character"
                     title="Mijn character in WoW"
                />
            </div>

            <div class="medium-9 columns right">
                <p>
                    Ik ben Wesley, Ook ga ik onder de naam 'Cat with Blini' en 313411
                </p>
                <h4>Hobby's</h4>
                <p>
                    Ik hou er van om te gamen, vooral speel ik World of Warcraft, Battlerite en allemaal andere games.
                </p>
                <p>
                    WoW character <em>Steam acc</em>,
                </p>
            </div>
        </div>
    </article>

    <article>
        <div class="row">
            <div class="columns">
                <h3>Specs</h3>
            </div>

            <div class="medium-3 columns">
                <img src="images/linux-desktop.png"
                     alt="Linux desktop"
                     class="side-image"
                />
            </div>

            <div class="medium-9 columns">
                <p>
                    --UNDER CONSTRUCTION--
                </p>
            </div>
        </div>
    </article>
</section>
